  
        body { font-family:Arial, Sans-Serif; font-size:13px;}
        #container { width: 100#; overflow:hidden; margin:0px auto; position:relative;}
        #content { width:74%; float:right;}
        #toc {     width: 24%; position:fixed; float:left; margin:10px;    line-height: 25px;}
        
        #toc a { display:block; color:#0094FF;    text-decoration: none;    padding: 5px 0;
    border-bottom: 1px solid #ccc;}
        
        #toc a[title=H1] { font-size:18px;}
        #toc a[title=H2] { font-size:14px;}
        #toc a[title=H3] { font-size:10px;}
		
		xmp {
			background:#E2E2E2;
		}
 #toc p{
 font-size:20px;
 font-weight:bold;
 }